In [53]:
fileA = sc.textFile("C:\\Users\\266251\\Downloads\\coursera-hadoop-platform-and-application-framework-master\\coursera-hadoop-platform-and-application-framework-master\\spark\\simple-join-assignment\\join1_FileA.txt")

In [54]:
fileA.collect()

['able,991', 'about,11', 'burger,15', 'actor,22']

In [55]:
fileB = sc.textFile("C:\\Users\\266251\\Downloads\\coursera-hadoop-platform-and-application-framework-master\\coursera-hadoop-platform-and-application-framework-master\\spark\\simple-join-assignment\\join1_FileB.txt")

In [56]:
fileB.collect()

['Jan-01 able,5',
 'Feb-02 about,3',
 'Mar-03 about,8',
 'Apr-04 able,13',
 'Feb-22 actor,3',
 'Feb-23 burger,5',
 'Mar-08 burger,2',
 'Dec-15 able,100']

In [57]:
def split_fileA(line):
    # split the input line in word and count on the comma
    split1=line.split(',')
    # turn the count to an integer  
    word= split1[0]
    count=split1[1]
    return (word, count)

In [58]:
test_line = "able,991"

In [59]:
split_fileA(test_line)

('able', '991')

In [61]:
fileA_data = fileA.map(split_fileA)

In [62]:
fileA_data.collect()

[('able', '991'), ('about', '11'), ('burger', '15'), ('actor', '22')]

In [63]:
def split_fileB(line):
        # split the input line into word, date and count_string
        dateword_count = line.split(",")
        count_string = dateword_count[1]
        date_word = dateword_count[0].split(" ")
        date = date_word[0]
        word = date_word[1] 
        return (word, date + " " + count_string)

In [64]:
fileB_data = fileB.map(split_fileB)

In [65]:
fileB_data.collect()

[('able', 'Jan-01 5'),
 ('about', 'Feb-02 3'),
 ('about', 'Mar-03 8'),
 ('able', 'Apr-04 13'),
 ('actor', 'Feb-22 3'),
 ('burger', 'Feb-23 5'),
 ('burger', 'Mar-08 2'),
 ('able', 'Dec-15 100')]

In [66]:
fileB_joined_fileA = fileB_data.join(fileA_data)

In [67]:
fileB_joined_fileA.collect()

[('able', ('Jan-01 5', '991')),
 ('able', ('Apr-04 13', '991')),
 ('able', ('Dec-15 100', '991')),
 ('actor', ('Feb-22 3', '22')),
 ('about', ('Feb-02 3', '11')),
 ('about', ('Mar-03 8', '11')),
 ('burger', ('Feb-23 5', '15')),
 ('burger', ('Mar-08 2', '15'))]